* {
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
    border-radius: 5px;
}
/*
::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
*/

body {
    font-family: 'Mulish', sans-serif;
    font-style: 16px;
    font-weight: 400;
}
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
}
.menu-button {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 17px;
    width: 20px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
    outline: none;
}
.menu-line {
    display: block;
    background-color: #1F2022;
    height: 3px;
    width: 20px;
    border-radius: 20px;
}
.input-group {
    background-color: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    min-width: 277px;
    width: 50%;
    margin-right: 33px;
}
.logo {
    margin-right: 59px;
}
.input-search {
    background: transparent;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
    width: 100%;
    outline: none;
}
.button-search {
    height: 19px;
    width: 19px;
    border:none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline: none;
}
.icon-search {
    fill: #000;
}
.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icons-link {
    opacity: 0.24;
    text-decoration: none;
}
.icons-link:hover {
    opacity: 0.7;
}
.icons-link:not(last-child) {
    margin-right: 50px;
}
.user {
    margin-left: 45px;
}
.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.nav-menu {
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style-type: none;
}
.nav-item {
    margin-bottom: 28px;}
.nav-link {
    display: flex;
    align-items: center;  
    color: #898989;
    text-decoration: none;
}
.nav-link:hover {
    color: #FF0000;
}
.nav-link:hover .icon {
    fill: #FF0000;
}
.nav-item .icon {
    fill: #898989;
}
.sidebar {
    padding-left: 32px;
    position: fixed;
    left: 0;
    top: 114px;
    height: calc(100% - 114px);
    overflow-y: auto;
    width: 200px;
    background-color: #fff;
}
.content {
    width: 100%;
    height: 400px;
    margin-top: 85px;
    padding-left: 250px;
    padding-top: 30px;
}
.nav-text {
    margin-left: 13px;
}
.nav-image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.nav-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}
.channel {
    position: relative;
    margin-bottom: 50px;
}

.recommended-video {
    position: relative;
    margin-bottom: 50px;
}

.channel-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 0px;
}
.recommended-video-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 0px;
}
.recommended-channel-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 0px;
}
.channel-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.recommended-channel-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
/*.button-sub {
    background: #FF0000;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    width: 154px;
    height: 40px;
    margin-right: 30px;
}
.button-sub:active {
    background:#aaa;
}*/
.button-sub {
    width: 154px;
    margin-right: 30px;
}
.checkbutton-sub {
    display: none;
}

.channel-text {
    margin-left: 20px;
}
.recommended-channel-text {
    margin-left: 20px;
}
.chenel-slider {
    width: 100%;
}
.video-card {
    width: 250px;
}
.rvideo-card {
    width: 540px;
}
.video-thumb {
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}
.rvideo-thumb {
    width: 540px;
    height: 250px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}
.thumbnail {
    min-height: 100%;
    width: 250px;
    height: 150px;
    object-fit: cover;
}
.rthumbnail {
    min-height: 100%;
    width: 540px;
    height: 250px;
    object-fit: cover;
}
.video-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 9px;
}
.rvideo-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 9px;
}
.video-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
    margin-top: 10px;
    margin-bottom: 4px;
}
.rvideo-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
    margin-top: 10px;
    margin-bottom: 4px;
}
.recommended-channel-date {
    margin-left: 19px;
    display: flex;
    justify-content: space-between;
    color: #C2C2C2;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: -7px;
    cursor: default;
}
.video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}
.rvideo-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}
.video-counter {
    display: flex;
}
.rvideo-counter {
    display: flex;
}
.video-views {
    margin-right: 5px;
}
.rvideo-views {
    margin-right: 5px;
}
.video-views::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.rvideo-views::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.channel-button {
    outline: none;
    cursor: pointer;
}

.channel-slider-buttons {
    position: relative;
    right: -1350px;
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
} 
.recommended-video-slider-buttons {
    position: relative;
    right: -1350px;
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
}
.recommended-video-button {
    outline: none;
    cursor: pointer;
}
.recommended-channel-slider-buttons {
    position: relative;
    right: -1150px;
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
}
.recommended-channel-button {
    outline: none;
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;

  }

  /* The slider */
  .slider {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    

    background: #FF0000;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    width: 154px;
    height: 40px;
  }
  
  input:checked + .slider {
    background-color: #aaa;
  }